<div class="file-area-container">
    <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"
                   (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
            Please drop CSV file with products&nbsp;
            <button type="button" (click)="openFileSelector()">Browse</button>
        </ng-template>
    </ngx-file-drop>
    <a [routerLink]="['/create']"><h2>Or create a new one</h2></a>
</div>
